.col{
    display: grid;
    grid-template-columns: repeat(2, minmax(40px, 1fr));
    gap: 3rem;
    place-items: center;
    margin: 1.5rem;
    padding: 1rem;
}
.Products_container_in_page{
    margin-top: 10rem;
}
