.Phonenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 20px 20px;
  height: 100%;
  box-sizing: border-box;

  .Phonebody {
    display: flex;
    gap: 40px;
    flex-direction: column;
    

    .linkContainer {
      perspective: 120px;
      perspective-origin: bottom;

      .mainLink {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(#979797, 0.5);
        a {
          text-decoration: none;
          color: rgba(#000000, 0.7);
          letter-spacing: .14em;
          font-size: 18px;
          text-transform: uppercase;
          font-family: Cormorant, serif;
          font-style: normal;
          font-weight: 100;
        }
        button {
          background: none;
          border: none;
          font-size: 30px;
          cursor: pointer;
          color: rgba(#000000, 0.6);
        }
      }

      .sublinks {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        overflow: hidden;
        a {
          text-decoration: none;
          margin: 3px 0;
          color: rgba(#919191, 0.7);
          font-size: 15px;
          line-height: 2rem;
          text-transform: uppercase;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
  }
}
