.service_line{
    display: grid;
    grid-template-columns: repeat(3,  minmax(40px, 1fr));
    
    place-items: center;
}


@media screen and (max-width: 1070px) {
    .service_line{
        width: 100vw;
        grid-template-columns: repeat(2,1fr);
    }
  }

@media screen and (max-width: 900px) {
    .service_line{
        width: 100vw;
        grid-template-columns: repeat(1,  minmax(40px, 1fr));
        row-gap: 1rem;
    }
  }