.carousel-container{
  margin-top: 1.5rem;
}
.container_home {
  padding: 0;
  height: 90vh;
  margin-bottom: 3.5rem;
}

.container_home img {
  width: 80%;
  display: block;
  cursor: grab;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
