/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/

.card__article img {
  position: relative;
  top: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/


.card__container {
  display: grid;
  row-gap: 3.5rem;
}


.card__article {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background-color: hsl(230, 56%, 83%);
  width: 600px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
}

.card__img {
  width: 300px;
  border-radius: 1.5rem;
}

.card__data {
  width: 430px;
  max-height: 450px;
  overflow-y: auto;
  background-color: hsl(230, 100%, 97%);
  padding: 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  transition: opacity .2s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  color: var(--title-color);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
/*
.card__article:hover .card__data {
  animation: show-data 0.5s forwards;
  opacity: 1;
  transition: opacity .1s;
}

.card__article:hover {
  animation: remove-overflow;
}

.card__article:not(:hover) {
  animation: show-overflowforwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data .1s forwards;

}*/
/* Card animation */
/*
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-35%);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {

  100% {
    transform: translateY(9.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/*
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}
*/
/* For medium devices *//*
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
*/
/* For large devices *//*
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}*/