
button{
    outline: none;
}
button:focus{
    outline: none;
}
.solutions-section {
    position: relative;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    /* Ensuring the layout is responsive */
    @media (max-width: 1150px) {
      grid-template-columns: 1fr; 
      grid-template-rows: auto auto;
    }
  }
  .Product-description-title{
    font-family: "bahnschrift";
    text-align: center;
    font-size: 1.9rem;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: white;
    }

    .Accordions-questions{
        padding: 10px;
        background-color: transparent;
        color: white;
    }
    .accordion-container-div{
        padding: 10px;
        border-bottom: 0.3px solid white;
        margin-bottom: 1rem;
        min-height: 3rem;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }

    .title-div-container{
        font-size: 1.2rem;
        font-family: "bahnschrift", serif;
        color: white;
    }
    .answer-div-container {
        color: white;
        font-size: 1.1rem;
        height: auto;
    }
    
  .Product-description-div {
    background-color: hsl(229, 88%, 16%);
    width: 100%;
  }
  
  .Product-image-div {
    display: block;
    position: relative;
    @media (max-width: 1150px) {
      order: 2;
      width: 100%;
    }
  }
  
  .blue-glass-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(229, 88%, 16%);
    z-index: 5;
    opacity: 0.75;
    backdrop-filter: blur(50px);
  }
  
  .Product-comp-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
  
  .text-over-glass {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 50;
    padding: 100px 60px 0 60px;
    backdrop-filter: blur(3px);
  }
  
  .title-txt {
    color: white;
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .checkbox-list {
    padding: 20px;
  }
  
  .checkbox-list h2 {
    color: white;
    font-size: 25px;
    font-weight: 100;
    word-spacing: 5px;
  }
  
  .ul-list {
    margin-top: 2rem;
  }
  
  .ul-list li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  

@media (max-width: 1150px) {
.solutions-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.Product-description-div {
    order: 1;
    width: 100%;
}

.Product-image-div {
    order: 2;
    width: 100%;
}

.text-og-title {
    width: 100%;
    margin-top: 1rem;
}

.title-txt {
    font-size: 5vw;
}
}
  