.mega-menu-div-container2 {
    /* The entire mega-menu window */
    top: 48px;
    border-radius: 10px;
    margin-left: -250px;
    background-color: rgb(255, 255, 255);
    width: 1200px;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .4);
  }
  
  /*box-shadow: 0 2px 8px hsla(0, 0%, 0%, .4);*/
  
  .menu2-container-div {
    /* section : title + links + description  */
    position: relative;
  }
  
  .container-of-menu2-desc {
    /* div : Title + Links + description  */
    width: 100%;
    height: 100%;
  }
  
  .telephone_link_class .LINK_class {
    /* Links lists individual */
    border-radius: 15px;
    padding: 15px;
    transition: .3s all ease-in-out;
    text-decoration: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #0D6099;
  }
  
  .telephone_link_class .LINK_class:hover {
    /* Links lists individual hovered*/
    border-radius: 20px;
    color: rgb(234, 234, 234);
    background-color: #0D6099;
    transition: .3s all ease-in-out;
  }
  .nav__menu {
    width: fit-content;
    margin-inline: auto;
  }
  
  .links-container {
    /* Title + Links div */
    position: relative;
    height: 100%;
    width: 30%;
    padding-top: 1rem;
    padding-left: 2rem;
  }

  .description-container {
    /* Description div alone */
    position: relative;
    padding: 10px;
    width: 40%;
    height: 100%;
    background-color: transparent;
    padding-top: 1rem;
  }

  .description-menu2-ghost {
    color: gray;
    height: 100%;
    padding: 20px;
  }

  .get-in-touch-container {
    padding-top: 1.5rem;
    background-color: #0D6099;
    width: 30%;
    height: 350px;
  }
  
  .get-in-touch-title {
    text-align: center;
  }
  
  .get-in-touch-title .title {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 16px white;
    font-family: Arial, sans-serif;
  }
  
  .get-in-touch-title .under-title {
    color: white;
    font-size: .9rem;
  }
  
  .get-in-touch-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .git-btn {
    font-weight: 700;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    transition: .2s all ease-in-out;
    background-color: transparent;
  }
  
  .git-btn:hover {
    color: #0D6099;
    background-color: white;
  }
  
  /* Add these styles to your CSS file */
  .fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    height: 5.5rem;
    z-index: var(--z-fixed);
    transition: box-shadow .2s, background-color .2s ease-in-out;
  
  }
  
  .header.scrolled {
    background-color: #0D6099;
    backdrop-filter: none;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .4);
  }
  
  .header.scrolled .nav__logo_img {
    background-color: white;
    border-radius: 30%;
  }
  
  .header.scrolled .nav__link {
    color: var(--white-color);
    transition: .3s all ease-in-out;
  }
  
  .header.scrolled .nav__link:hover {
    color: var(--title-color);
  }
  
  .header.scrolled i {
    color: var(--white-color);
  }
  
  .header .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .nav__logo_img {
    padding: 10px;
    position: absolute;
    width: 4.5rem;
    left: 10rem;
    top: 1px;
  }
  
  .nav__list {
    display: flex;
    text-decoration: none;
    margin-right: 0;
  }
  
  .nav__item {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  
  .nav__link {
    font-weight: 600;
    color: var(--title-color);
    transform: color .4s;
  }
  
  .nav__link span {
    display: block;
  }
  
  .nav__link:hover {
    color: var(--first-color);
    text-decoration: none;
  }
  
  .nav__actions {
    position: absolute;
    display: flex;
    right: 1rem;
    top: 1.8rem;
  }
  
  #nav_actions i {
    color: var(--title-color);
    margin-top: 1rem;
    padding-left: 0.5rem;
  }
  
  .nav__actions i {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
  }
  
  .nav__actions .cart-btn {
    position: absolute;
    top: 1rem;
    left: -1.5rem;
  }
  
  .nav__actions i:hover {
    color: var(--first-color);
  }


  @media screen and (min-width: 1150px) {
    .nav__menu {
      margin-inline: auto 0;
    }
  
    .nav__list {
      column-gap: 4rem;
      margin-right: 0rem;    
    }
  }


  @media screen and (max-width : 1530px) {
    .mega-menu-div-container2 {
      width: 1000px;
    }
  }
  

  @media screen and (min-width: 576px) {
    .nav__menu {
      width: 380px;
      margin-inline: auto;
    }
  }

  @media screen and (max-width : 1150px) {
    .nav__menu {
      display: none;
    }
    .nav__list {
      column-gap: 4rem;
      margin-right: 0rem;
    }

    .header .nav__logo_img {
      left: 50%;
      transform: translateX(-50%);
    }
  }