/*=============== TESTIMONIAL ===============*/
#testimonial .testimonial__card{
    text-align: center;
    background-color: var(--container-color);
    padding: 2rem 3rem 2.5rem;
    border: 3px solid var(--border-color);
    transition: border .4s, background-color .4s;
}

#testimonial .testimonial__img{
    width: 100%;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
}

#testimonial .testimonial__title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

#testimonial .testimonial__description{
    font-size: var(--small-font-size);
    margin-bottom: 1.25rem;
}

#testimonial .testimonial__stars{
    color: var(--first-color);
}
  