  /*=============== FOOTER ===============*/
.footer{
    height: 90vh;
    padding-block: 4rem 6rem;
    background-color: var(--border-color);
}
  
.footer__container{
    row-gap: 1rem;
}
.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-family: var(--second-font);
    margin-bottom: 1.25rem;
}
  
.footer__logo i{
    font-size: 1.25rem;
}


  
.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}

.footer__links{
    display: grid;
    row-gap: .5rem;
}
  
.footer__link{
    color: var(--text-color);
    transition: color .4s;
}
  
.footer__link:hover{
    color: var(--first-color);
}
  
.footer__info{
    font-style: normal;
}
  
.footer__social{
    display: flex;
    column-gap: 1.25rem;
}
  
.footer__social-link{
    font-size: 1.25rem;
    color: var(--first-color);
}
  
.footer__copy{
    display: block;
    margin-top: 5rem;
    text-align: center;
    font-size: var(--small-font-size);
}
  