:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(0, 100%, 50%);
    --text-color-footer: hsl(0, 0%, 99%);
    --white-color: hsl(0, 0%, 100%);
}

/*=============== FOOTER ===============*/
.footer{
  margin-top: 8rem;
    height: 90vh;
    padding-block: 4rem 6rem;
    background-color: #0D6099;
    box-shadow: 2px 0 16px black;
}
.footer__container{
    row-gap: 1rem;
    color: white;
}
.footer__title{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 2rem;
  }

.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--white-color);
    font-size: 1.5rem;
    font-family: var(--second-font);
    margin-bottom: 1.25rem;
}
  
.footer__logo i{
    font-size: 2rem;
}

.footer__links{
  color: white;
  display: grid;
  row-gap: .5rem;
  font-weight: 500;
}

.footer__link{
  transition: color .4s;
}

.footer__link:hover{
  color: hsl(229, 26%, 75%);
}

.footer__info{
  font-style: normal;
}

.footer__social{
  display: flex;
  flex-direction: column;
}

.footer__social-link{
  font-size: 2.25rem;
  color: white;
}

.footer__copy{
  display: block;
  margin-top: 5rem;
  text-align: center;
  color: white;
  font-size: var(--small-font-size);
}

  

.animations-data{
  width: 10rem;
  transition: 0.1s all ease-in-out;
}
.animations-data:last-child:hover{
  margin-top: .3rem;
  transition: 0.1s all ease-in-out;
}
